.container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

.logogwcs {
  margin-left: 2%;
}

.logoin {
  margin-left: 2%;
}

.phraseprez {
  margin-top: 2em;
}

body {
  background-color: #f4f4f4;

}
